.nav_container {
  width: 500px;
  height: 40px;
  margin-left: 200px;
  border-radius: 25px;
  padding: 4px;
  border-bottom: 1px solid white;
  // background-color: rgba($color: #7a7a7a, $alpha: .5);

  ul {
    margin-top: 3px;
    list-style-type: none;
    display: flex;

    li {
      margin-left: 40px;

      &:hover {
        border-bottom: 3px solid #29ce00;
      }
    }
  }
}

.start {
  width: 100%;
  height: 66vh;
  display: flex;

  .news {
    width: 400px;
    height: 470px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-radius: 25px;
    background-color: rgba($color: #7a7a7a, $alpha: .8);
    margin: -30px 0 0 170px;
    color: white;
    padding: 30px;

    span {
      font-size: 25px;
    }
  }

  .carousel_container {
    position: relative;
    width: 450px;
    height: 300px;
    margin-left: 220px;
    margin-top: 100px;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    img {
      width: 450px;
      height: 300px;
      border-radius: 25px;
      border-top: 3px solid white;
      border-bottom: 3px solid white;
    }

    .text {
      position: absolute;
      top: 200px;
      left: 0;
      width: 100%;
      height: 50px;
      padding: 10px;
      color: white;
      text-align: center;
      background-color: rgba($color: #7a7a7a, $alpha: .8);
    }

    button {
      position: absolute;
      top: 120px;
      left: 150px;
      width: 120px;
      height: 40px;
      color: white;
      font-family: 'Oswald', sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
      border-radius: 5px;
      border: 1px solid #1b8600;
      background-color: rgba($color: #1b8600, $alpha: .8);
      cursor: pointer;

      &:hover {
        color: #1b8600;
        background-color: white;
      }
    }
  }
}

.menu {
  width: 100%;
  height: 75vh;
  display: flex;

  .menu_container {
    width: 510px;
    height: 450px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    background-color: rgba($color: #7a7a7a, $alpha: .8);
    margin: 50px 0 0 190px;
    color: white;
    padding: 10px;
    overflow: auto;

    div {
      margin-top: 7px;
      font-size: 20px;
      cursor: pointer;
      border: 1px dashed black;

      &:hover {
        background-color: rgba($color: #969595, $alpha: .8);
      }
    }

    h1 {
      font-size: 30px;
      text-align: center;
      color: #1ab1f7;
      font-weight: 700;
    }

    h2 {
      margin-top: 7px;
      font-size: 22px;
      text-align: center;
      color: #2c000a;
      font-weight: 700;
    }

    p {
      font-style: italic;
    }

    .name {
      color: #a00126;
    }
  }

  .basket {
    .basket_cost {
      width: 400px;
      height: auto;
      font-size: 25px;
      text-align: center;
      border-top: 3px solid white;
      border-bottom: 3px solid white;
      border-radius: 25px;
      background-color: rgba($color: #7a7a7a, $alpha: .8);
      margin: 0 0 0 170px;
      color: white;
    }

    img {
      margin-right: 12px;
    }

    .list_basket {
      text-align: left;
      margin-left: 30px;

      .deleteBtn {
        width: 50px;
        height: 30px;
        margin: 0 10px 10px 10px;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        border-radius: 5px;
        border: 1px solid #1b8600;
        background-color: rgba($color: #b10e0e, $alpha: .8);
        cursor: pointer;

        &:hover {
          color: #1b8600;
          background-color: white;
        }
      }

      .orderBtn, .newOrderBtn {
        width: 120px;
        height: 40px;
        margin: 20px 0 20px 110px;
        color: white;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        border-radius: 5px;
        border: 1px solid #1b8600;
        background-color: rgba($color: #1b8600, $alpha: .8);
        cursor: pointer;

        &:hover {
          color: #1b8600;
          background-color: white;
        }
      }
    }
  }
}